.demo {
    margin-bottom: 1em;
    box-shadow: inset 0 0 10px #999;
    -mox-box-shadow: inset 0 0 10px #999;
    padding: 1em;
}

.disabled.button {
    color: gray;
}

.selected.title.button {
    font-weight: bold;
}

#horizontalDemo {
    background-color: white;
}

#horizontalDemo .buttons {
    overflow: auto;
}

#horizontalDemo .first.button {
    float: left;
}

#horizontalDemo .previous.button {
    float: left;
    margin-left: 2em;
}

#horizontalDemo .last.button {
    float: right;
}

#horizontalDemo .next.button {
    float: right;
    margin-right: 2em;
}

#horizontalDemo .navigation {
    text-align: center;
}

#horizontalDemo .navigation .button {
    margin-left: 1em;
}

#verticalDemo {
    background: white;
}

#verticalDemo .amounts {
    float: right;
}

#verticalDemo .slides {
    height: 100px; /* important!!! remember to set this */
    margin: 1em;
}

#verticalDemo h3 {
    margin: 0; /* won't work ok without margin reset!!! */
}

#verticalDemo .button {
    text-align: center;
}

#photoDemo {
    text-align: center;
}

#photoDemo .controls {
    margin-bottom: 1em;
}

#photoDemo .navigation {
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#photoDemo .navigation .title img {
    width: 50px;
}

#photoDemo .slides img, #photoDemo .selected img {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
